@import '~@fluentui/react/dist/sass/References.scss';

#calendar {
  table {
    td {
      &.highlight-today::before,
      &.highlight-selected::before {
        content: "";
        display: block;
        position: absolute;
        bottom: -0.1875rem;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 0.5625rem;
        height: 0.5625rem;
        border-radius: 50%;
      }

      &.highlight-today::before {
        background-color: #7cf04e;
      }

      &.highlight-selected::before {
        background-color: #5e4ef0;
      }
    }
  }
}